<nav class="bg-slate-200 border-gray-200 px-3 py-2.5 rounded">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <span class="self-center text-xl text-slate-600 font-semibold whitespace-nowrap">My Todo-list</span>
    <div class="w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li>
          <a href="/signout" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-green-600 md:p-0">Signout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>